/* src/components/About.css */
.about {
    display: flex;
    align-items: center;
    padding: 2rem;
    margin-top: 4%;
    flex-wrap: wrap;
  }
  
  .about-image {
    flex: 1;
    min-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .about-image img {
    width: 100%;
    border-radius: 8px;
  }
  
  .about-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .about-info {
    flex: 2;
    padding: 1rem;
  }
  
  @media (max-width: 768px) {
    .about {
      flex-direction: column;
      text-align: center;
    }
  
    .about-info {
      padding: 0;
    }
  }
  